SECRET_KEY=supersecretkey
POSTGRES_USER=hubspot
POSTGRES_PASSWORD=hubspot
POSTGRES_DB=hubspot
POSTGRES_HOST=db
POSTGRES_PORT=5432
CORS_ORIGINS=http://localhost:5173
Personal_Access_Key=your_hubspot_access_token_here